streamlit==1.38.0
pandas==2.2.3
numpy==2.3.3
scikit-learn==1.7.2
xgboost==3.0.5
plotly==6.3.0
requests==2.32.5
folium==0.20.0
streamlit-folium==0.25.2
reportlab==4.4.4
earthaccess==0.14.0
xarray==2025.9.1
netcdf4==1.7.2
pytz==2025.2
pillow==10.4.0
matplotlib==3.10.6
geopy==2.4.1