# ----------------------------------------------------
# Secrets for Mframapa AI Streamlit Application
# ----------------------------------------------------

# Copy this file to .streamlit/secrets.toml and add your keys
OPENWEATHER_KEY = "YOUR_KEY_HERE"
AIRNOW_KEY = "YOUR_KEY_HERE"
AQICN_TOKEN = "YOUR_KEY_HERE"
EARTHDATA_USER = "YOUR_USERNAME_HERE"
EARTHDATA_PASS = "YOUR_PASSWORD_HERE"
PURPLEAIR_KEY = "YOUR_KEY_HERE"
